$mobile_bp: 950px;

:root {
	--background: #222;
	--text: #ddd;
	--textDark: #111;
	--accent1: #ffd700;
	--accent1bright: #ffa900;
	--accent1dim: #c8a937;
	--disabled: #ccc;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: monospace;
	text-shadow: 0 0 1px currentColor;
}

a {
	color: var(--accent1bright);
	font-weight: bold;

	&:visited {
		color: var(--accent1dim);
	}

	&:hover {
		color: var(--accent1bright);
	}
}

#interface {
	padding: 4em;
	display: grid;
	gap: 4em;
	justify-content: center;
	grid-template-columns: repeat(12, 1fr);

	@media screen and (max-width: $mobile_bp) {
		grid-template-columns: 1fr;
		gap: 1em;
	}
}

.window {
	padding-top: 0;
	border: solid 1px var(--accent1);
	box-shadow: 0 0 3px var(--accent1), 0 0 3px inset var(--accent1);

	&#tw-story {
		grid-column: 1 / span 8;
	}

	&#tw-input {
		grid-column: 9 / span 4;
	}

	@media screen and (max-width: $mobile_bp) {
		&#tw-story,
		&#tw-input {
			grid-column: 1 / span 1;
		}
	}

	.titlebar {
		padding: 0.3em 0.5em;
		background-color: var(--accent1);
		color: var(--textDark);
		display: flex;
		justify-content: space-between;
		box-shadow: 0 1px 3px var(--accent1);

		&::after {
			content: "x";
			height: 100%;
		}
	}

	.content {
		padding: 1em;
		min-height: 300px;

		hr {
			width: 50%;
			border-color: var(--accent1);
			transform: scaleX(1.25);
			box-shadow: 0 0 2px var(--accent1);
		}
	}

	.buttons {
		display: flex;
		gap: 1em;
		flex-wrap: wrap;
		justify-content: center;
		grid-template-columns: repeat(3, 1fr);
		margin: 1.5em auto;
	}

	.directionals {
		display: grid;
		margin: 1.5em auto;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		max-width: 150px;
	}

	.map {
		display: flex;
		justify-content: center;
		margin: 1.5em auto;
	}

	button {
		background-color: var(--background);
		color: var(--accent1);
		border: solid 1px var(--accent1);
		padding: 0.5em 1.5em;
		border-radius: 0.75em;
		font-family: monospace;
		box-shadow: 0 0 2px var(--accent1), 0 0 2px inset var(--accent1);
		text-shadow: 0 0 1px currentColor;

		&[data-passage-name="empty"] {
			opacity: 0;
		}

		&:hover:not(:disabled) {
			background-color: var(--accent1);
			color: var(--textDark);
			cursor: pointer;
		}

		&:disabled {
			border-color: var(--disabled);
			color: var(--disabled);
			opacity: 0.5;
			cursor: not-allowed;
		}

		&.north {
			grid-column-start: 2;
		}

		&.west {
			grid-column-start: 1;
			grid-row-start: 2;
		}

		&.east {
			grid-column-start: 3;
			grid-row-start: 2;
		}

		&.south {
			grid-column-start: 2;
			grid-row-start: 3;
		}
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
