:root {
	--background: #111;
	--backgroundDest: #2d0226;
	--bg_gradient: linear-gradient(
		to bottom,
		var(--background) 80%,
		var(--backgroundDest) 100%
	);
	--text: #ddd;
	--disabled: #aaa;

	// accent colors
	--accent_main: #a7078c;
	--accent_main_fade: rgba(167, 7, 140, 0.4);

	// fonts
	--font: sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-image: var(--bg_gradient);
	color: var(--text);
	font-family: var(--font);
	font-size: 16px;
	display: flex;
	align-items: center;
}

a {
	color: var(--accent_main);
	font-weight: bold;
}

button {
	background-color: var(--background);
	color: var(--accent_main);
	border: solid 1px var(--accent_main);
	padding: 0.5rem 1.5rem;
	font-family: var(--font);

	&:hover:not(:disabled) {
		background-color: var(--accent_main);
		color: var(--background);
		cursor: pointer;
	}

	&:disabled {
		border-color: var(--disabled);
		color: var(--disabled);
		cursor: not-allowed;
	}

	&[data-passage-name="empty"] {
		opacity: 0;
		pointer-events: none;
	}
}

#interface {
	width: 100%;
	padding: 4em;
	position: relative;
	min-height: 10rem;

	&:before,
	&:after {
		--dist: 13px;

		display: block;
		content: " ";
		position: absolute;
		top: calc(var(--dist) * -1);
		left: 0;
		width: 100%;
		height: 3px;
		background-color: var(--accent_main);
		z-index: 0;
	}

	&:after {
		top: calc(100% + var(--dist));
	}
}

.float-ui {
	position: absolute;
	bottom: 0;
	transform: translateY(50%);
	z-index: 1;
	border: solid 1px var(--accent_main);
	background-color: var(--background);
	padding: 0.75rem;
}

#buttons {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	margin: 1.5em auto;
	left: 4em;

	&.empty {
		opacity: 0;
		pointer-events: none;
	}
}

#directionals {
	display: grid;
	margin: 1.5em auto;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	left: 50%;
	transform: translate(-50%, 50%);

	button {
		&.north {
			grid-column-start: 2;
		}

		&.west {
			grid-column-start: 1;
			grid-row-start: 2;
		}

		&.east {
			grid-column-start: 3;
			grid-row-start: 2;
		}

		&.south {
			grid-column-start: 2;
			grid-row-start: 3;
		}
	}
}

#map-container {
	display: flex;
	justify-content: center;
	margin: 1.5em auto;
	right: 4em;
	position: static;
	padding: 0;

	&.active {
		position: absolute;
	}
}

#loading-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background);
	opacity: 1;
	transition: opacity 1000ms;
	z-index: 999;

	&.loaded {
		opacity: 0;
		pointer-events: none;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes reveal {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
