<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>\{{STORY_NAME}}</title>
	</head>
	<body>
		\{{STORY_DATA}}
		<div id="tw-story">
			<div id="tw-passage"></div>
		</div>
	</body>
	<script type="text/javascript">
		{{{format_js}}}
	</script>
</html>